In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Let us import the csv file

In [2]:
BF_sales_dataframe = pd.read_csv("/home/pri/Downloads/BlackFriday.csv",index_col=0)

In [3]:
rawdata = BF_sales_dataframe.reset_index('User_ID')
rawdata.index.name='leftInd'
#print(rawdata)

let us explore the dataset

In [4]:
BF_sales_dataframe.head(100)

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,,,,,,,,,,,
1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...
1000018,P00366542,F,18-25,3,B,3,0,5,NaN,NaN,1780
1000018,P00190742,F,18-25,3,B,3,0,3,4.0,9.0,10754
1000018,P00151842,F,18-25,3,B,3,0,4,8.0,9.0,2802
1000018,P00112642,F,18-25,3,B,3,0,1,2.0,5.0,19473
1000018,P00118442,F,18-25,3,B,3,0,1,2.0,NaN,19672
1000018,P00034442,F,18-25,3,B,3,0,1,14.0,16.0,19313
1000018,P00222242,F,18-25,3,B,3,0,1,2.0,13.0,15182
1000018,P00118342,F,18-25,3,B,3,0,2,3.0,15.0,15985
1000018,P00324742,F,18-25,3,B,3,0,2,9.0,14.0,16454
1000018,P00190042,F,18-25,3,B,3,0,3,4.0,5.0,13551
1000018,P0094142,F,18-25,3,B,3,0,4,5.0,NaN,697
1000018,P00138542,F,18-25,3,B,3,0,5,6.0,NaN,7030
1000018,P00158542,F,18-25,3,B,3,0,5,6.0,13.0,5430
1000018,P00157542,F,18-25,3,B,3,0,8,14.0,NaN,8011
1000018,P00044142,F,18-25,3,B,3,0,8,16.0,NaN,5912
1000019,P00112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
1000019,P00339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
1000019,P00127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
1000019,P00125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
1000019,P00251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
1000019,P00249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
1000019,P00124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
1000019,P00250642,M,0-17,10,A,3,0,11,NaN,NaN,4664
1000019,P00058142,M,0-17,10,A,3,0,3,4.0,12.0,8290
1000019,P00117442,M,0-17,10,A,3,0,5,14.0,NaN,7011
1000019,P00251642,M,0-17,10,A,3,0,1,2.0,4.0,4211
1000019,P00244842,M,0-17,10,A,3,0,11,NaN,NaN,1539
1000021,P00220242,M,18-25,16,B,0,0,3,12.0,NaN,3055
1000022,P00351142,M,18-25,15,A,4+,0,1,8.0,17.0,12099
1000022,P00213242,M,18-25,15,A,4+,0,5,8.0,NaN,8797

Let us explore Product_Category_1 , Product_Category_2, Product_Category_3 to understand its definition

In [5]:
BF_sales_PC1_Values = BF_sales_dataframe['Product_Category_1'].unique()
BF_sales_PC1_Values.sort()
print(BF_sales_PC1_Values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

In [6]:
BF_sales_PC2_Values = BF_sales_dataframe['Product_Category_2'].unique()
BF_sales_PC2_Values.sort()
print(BF_sales_PC2_Values)

[  2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.  15.  16.
  17.  18.  nan]

In [7]:
BF_sales_PC3_Values = BF_sales_dataframe['Product_Category_3'].unique()
BF_sales_PC3_Values.sort()
print(BF_sales_PC3_Values)

[  3.   4.   5.   6.   8.   9.  10.  11.  12.  13.  14.  15.  16.  17.  18.
  nan]

From the data it is understood that Product_Category_1 is a broad catergory which includes every category
Product_Category_2 is slightly arrow and does not include product category 1
Product_Category_3 does not include product catergory 1 and 2

Let us try and answer some questions now

In [8]:
# Top 5 product interms of sales

BF_Top5_sold_product = BF_sales_dataframe.groupby('Product_ID').size().reset_index(name ='counts')
BF_Top5_sold_product = BF_Top5_sold_product.sort_values(by = 'counts' , ascending=False)
BF_Top5_sold_product.head(5)

     Product_ID  counts
2534  P00265242    1858
1014  P00110742    1591
249   P00025442    1586
1028  P00112142    1539
565   P00057642    1430

In [9]:
# Top 5 product by gender interms of sales
# Top 5 products bought by Men

BF_Top5_sold_product = BF_sales_dataframe.groupby(['Product_ID','Gender']).size().reset_index(name ='counts')
BF_Top5_sold_product_M = BF_Top5_sold_product.loc[BF_Top5_sold_product['Gender'] == 'M'].sort_values(by = 'counts' , ascending=False)
BF_Top5_sold_product_M.head(5)

     Product_ID Gender  counts
4867  P00265242      M    1353
484   P00025442      M    1245
1927  P00110742      M    1234
1955  P00112142      M    1207
1100  P00057642      M    1174

In [10]:
# Top 5 products bought by Women

BF_Top5_sold_product = BF_sales_dataframe.groupby(['Product_ID','Gender']).size().reset_index(name ='counts')
BF_Top5_sold_product_M = BF_Top5_sold_product.loc[BF_Top5_sold_product['Gender'] == 'F'].sort_values(by = 'counts' , ascending=False)
BF_Top5_sold_product_M.head(5)

     Product_ID Gender  counts
4866  P00265242      F     505
4011  P00220442      F     427
1105  P00058042      F     378
4687  P00255842      F     366
664   P00034742      F     358

P00265242 and P00220442 was clearly a win with both and men

Let us find the  costliest product sold and how many of them?

In [11]:
BF_sales_dataframe_cost = BF_sales_dataframe.sort_values(by = 'Purchase', ascending=False)
BF_sales_dataframe_cost[['Product_ID','Purchase']].head(5)

        Product_ID  Purchase
User_ID
1001474  P00052842     23961
1002272  P00052842     23961
1003160  P00052842     23961
1005848  P00119342     23960
1005596  P00117642     23960

Let us find the list of top 100 returning users

In [12]:
BF_return_user_product = BF_sales_dataframe.groupby('User_ID').size().reset_index(name ='counts')
print(BF_return_user_product)

      User_ID  counts
0     1000001      34
1     1000002      76
2     1000003      29
3     1000004      13
4     1000005     106
5     1000006      46
6     1000007      16
7     1000008      76
8     1000009      57
9     1000010     222
10    1000011      69
11    1000012      11
12    1000013      60
13    1000014      13
14    1000015     116
15    1000016      21
16    1000017     114
17    1000018     179
18    1000019     144
19    1000020      12
20    1000021      13
21    1000022     155
22    1000023     171
23    1000024      76
24    1000025      43
25    1000026     226
26    1000027      41
27    1000028      57
28    1000029      52
29    1000030      30
...       ...     ...
5861  1006011      99
5862  1006012      15
5863  1006013      72
5864  1006014      54
5865  1006015      32
5866  1006016     469
5867  1006017      15
5868  1006018      76
5869  1006019      44
5870  1006020      23
5871  1006021      64
5872  1006022      24
5873  1006023      77
5874  1006024      55
5875  1006025     142
5876  1006026      42
5877  1006027      22
5878  1006028      26
5879  1006029      14
5880  1006030      53
5881  1006031      30
5882  1006032      51
5883  1006033      35
5884  1006034      11
5885  1006035     143
5886  1006036     476
5887  1006037     116
5888  1006038      10
5889  1006039      67
5890  1006040     169

[5891 rows x 2 columns]

In [13]:

BF_return_user_product_sorted = BF_return_user_product.sort_values(by = 'counts', ascending=False)
#print(BF_return_user_product_sorted.head(10))

In [14]:
#BF_return_user_product_sorted.reset_index()

#BF_return_user_product_sorted.index.name = "rightind"
BF_return_user_product_sorted_100 = BF_return_user_product_sorted.head(100)
print(BF_return_user_product_sorted_100["User_ID"])

1634    1001680
4166    1004277
1885    1001941
1142    1001181
863     1000889
3520    1003618
1111    1001150
981     1001015
2831    1002909
1406    1001449
2006    1002063
4232    1004344
3741    1003841
3297    1003391
416     1000424
4397    1004510
1923    1001980
5647    1005795
1051    1001088
4116    1004227
3708    1003808
5683    1005831
4395    1004508
534     1000549
3135    1003224
3443    1003539
1244    1001285
4429    1004543
3724    1003824
977     1001010
         ...
1015    1001051
2700    1002777
3939    1004041
1958    1002015
4688    1004808
2829    1002907
1902    1001958
2121    1002181
5886    1006036
2590    1002665
3377    1003471
4273    1004386
1630    1001676
5866    1006016
4127    1004238
191     1000195
3307    1003401
2716    1002793
2435    1002507
4920    1005046
3180    1003272
1684    1001733
4855    1004979
296     1000302
5664    1005812
1341    1001383
3982    1004085
1298    1001340
2457    1002529
2948    1003029
Name: User_ID, Length: 100, dtype: int64

In [18]:
top_100_returning_users = rawdata.loc[rawdata['User_ID'].isin(BF_return_user_product_sorted_100['User_ID'])]
#top_100_returning_users[['User_ID', 'Gender', 'Age', 'Occupation', 'City_Category','Stay_In_Current_City_Years','Marital_Status']]
top_100_unique_returning_users=top_100_returning_users[['User_ID', 'Gender', 'Age', 'Occupation', 'City_Category','Stay_In_Current_City_Years','Marital_Status']].drop_duplicates()

         User_ID Gender    Age  Occupation City_Category  \
leftInd
1152     1000195      M  26-35          12             B
1855     1000302      M  18-25           4             B
2263     1000352      M  18-25           4             A
2619     1000424      M  26-35          17             A
3172     1000524      M  18-25           0             A
3235     1000531      F  18-25          14             B
3374     1000549      M  26-35           6             A
3416     1000550      M  46-50           8             B
4111     1000678      M  26-35           0             A
4277     1000710      M  26-35          20             A
4601     1000752      F  26-35           3             A
5299     1000869      M  18-25          20             A
5399     1000881      M  18-25          14             A
5454     1000889      M  46-50          20             A
6174     1001010      M  26-35           0             A
6221     1001015      M  36-45           3             A
6304     1001019      M  36-45           1             A
6457     1001051      F  26-35           0             A
6759     1001088      F   0-17          10             A
7324     1001150      F  26-35          20             A
7554     1001181      M  36-45           7             A
8343     1001285      M  36-45           4             A
8748     1001340      M  26-35           7             A
9017     1001383      F  26-35           7             A
9399     1001447      M  18-25           4             A
9438     1001448      F  26-35           3             A
9471     1001449      M  36-45          20             A
10411    1001605      F  18-25           0             B
10776    1001647      M  18-25          18             B
10995    1001676      M  18-25           4             B
...          ...    ...    ...         ...           ...
24775    1003824      M  26-35          17             A
24970    1003841      M  46-50          18             A
26379    1004041      M  18-25           3             B
26623    1004064      M  46-50           0             A
26794    1004085      F  26-35           6             A
27574    1004227      M  26-35          19             A
27665    1004238      M  36-45          16             B
27930    1004277      M  36-45          16             A
28226    1004312      M  26-35          18             A
28433    1004344      M  26-35           1             A
28743    1004386      M  26-35           5             B
29044    1004425      M  36-45           7             B
29180    1004447      M  46-50           5             B
29218    1004448      M  26-35          14             A
29699    1004508      M  26-35          20             A
29747    1004510      M  46-50           7             A
29932    1004543      M  26-35           2             A
30448    1004647      M  36-45          20             B
30897    1004725      M  36-45           5             A
31424    1004808      M  36-45           0             A
32448    1004979      M  36-45           2             B
32858    1005046      M  26-35          16             A
34776    1005367      M  18-25           4             A
36635    1005643      F  36-45           1             A
37642    1005795      M  26-35           1             A
37761    1005812      F  26-35           7             A
37870    1005831      M  26-35           1             A
38619    1005954      M  46-50          11             A
39029    1006016      M  46-50           1             B
39124    1006036      F  26-35          15             B

        Stay_In_Current_City_Years  Marital_Status
leftInd
1152                            4+               1
1855                            4+               0
2263                             0               0
2619                             3               0
3172                             0               0
3235                             0               0
3374                             3               0
3416                             1               1
4111                             0               1
4277                            4+               0
4601                             3               0
5299                            4+               1
5399                             1               0
5454                             1               0
6174                             1               0
6221                            4+               1
6304                            4+               1
6457                             0               1
6759                             3               0
7324                             1               0
7554                             3               1
8343                             0               1
8748                             2               0
9017                             1               0
9399                             0               0
9438                             1               0
9471                             1               1
10411                            1               0
10776                            0               0
10995                           4+               0
...                            ...             ...
24775                            3               1
24970                           4+               0
26379                            2               0
26623                            1               1
26794                            1               0
27574                            0               0
27665                            3               0
27930                            0               0
28226                            0               1
28433                           4+               0
28743                            1               0
29044                            1               0
29180                            0               1
29218                            0               0
29699                            2               0
29747                           4+               1
29932                            0               0
30448                            1               1
30897                            2               0
31424                            1               1
32448                            1               1
32858                            0               0
34776                            1               0
36635                            3               1
37642                            1               1
37761                            1               1
37870                            2               1
38619                            2               1
39029                            1               1
39124                           4+               1

[100 rows x 7 columns]