In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Let us import the csv file

In [2]:
BF_sales_dataframe = pd.read_csv("/home/pri/Downloads/BlackFriday.csv",index_col=0)

let us explore the dataset

In [3]:
BF_sales_dataframe.head(100)

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,,,,,,,,,,,
1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...
1000018,P00366542,F,18-25,3,B,3,0,5,NaN,NaN,1780
1000018,P00190742,F,18-25,3,B,3,0,3,4.0,9.0,10754
1000018,P00151842,F,18-25,3,B,3,0,4,8.0,9.0,2802
1000018,P00112642,F,18-25,3,B,3,0,1,2.0,5.0,19473
1000018,P00118442,F,18-25,3,B,3,0,1,2.0,NaN,19672
1000018,P00034442,F,18-25,3,B,3,0,1,14.0,16.0,19313
1000018,P00222242,F,18-25,3,B,3,0,1,2.0,13.0,15182
1000018,P00118342,F,18-25,3,B,3,0,2,3.0,15.0,15985
1000018,P00324742,F,18-25,3,B,3,0,2,9.0,14.0,16454
1000018,P00190042,F,18-25,3,B,3,0,3,4.0,5.0,13551
1000018,P0094142,F,18-25,3,B,3,0,4,5.0,NaN,697
1000018,P00138542,F,18-25,3,B,3,0,5,6.0,NaN,7030
1000018,P00158542,F,18-25,3,B,3,0,5,6.0,13.0,5430
1000018,P00157542,F,18-25,3,B,3,0,8,14.0,NaN,8011
1000018,P00044142,F,18-25,3,B,3,0,8,16.0,NaN,5912
1000019,P00112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
1000019,P00339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
1000019,P00127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
1000019,P00125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
1000019,P00251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
1000019,P00249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
1000019,P00124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
1000019,P00250642,M,0-17,10,A,3,0,11,NaN,NaN,4664
1000019,P00058142,M,0-17,10,A,3,0,3,4.0,12.0,8290
1000019,P00117442,M,0-17,10,A,3,0,5,14.0,NaN,7011
1000019,P00251642,M,0-17,10,A,3,0,1,2.0,4.0,4211
1000019,P00244842,M,0-17,10,A,3,0,11,NaN,NaN,1539
1000021,P00220242,M,18-25,16,B,0,0,3,12.0,NaN,3055
1000022,P00351142,M,18-25,15,A,4+,0,1,8.0,17.0,12099
1000022,P00213242,M,18-25,15,A,4+,0,5,8.0,NaN,8797

Let us explore Product_Category_1 , Product_Category_2, Product_Category_3 to understand its definition

In [5]:
BF_sales_PC1_Values = BF_sales_dataframe['Product_Category_1'].unique()
BF_sales_PC1_Values.sort()
print(BF_sales_PC1_Values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

In [6]:
BF_sales_PC2_Values = BF_sales_dataframe['Product_Category_2'].unique()
BF_sales_PC2_Values.sort()
print(BF_sales_PC2_Values)

[  2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.  15.  16.
  17.  18.  nan]

In [8]:
BF_sales_PC3_Values = BF_sales_dataframe['Product_Category_3'].unique()
BF_sales_PC3_Values.sort()
print(BF_sales_PC3_Values)

[  3.   4.   5.   6.   8.   9.  10.  11.  12.  13.  14.  15.  16.  17.  18.
  nan]

From the data it is understood that Product_Category_1 is a broad catergory which includes every category
Product_Category_2 is slightly arrow and does not include product category 1
Product_Category_3 does not include product catergory 1 and 2

Let us try and answer some questions now

In [28]:
# Top 5 product interms of sales

BF_Top5_sold_product = BF_sales_dataframe.groupby('Product_ID').size().reset_index(name ='counts')
BF_Top5_sold_product = BF_Top5_sold_product.sort_values(by = 'counts' , ascending=False)
BF_Top5_sold_product.head(5)

     Product_ID  counts
2534  P00265242    1858
1014  P00110742    1591
249   P00025442    1586
1028  P00112142    1539
565   P00057642    1430

In [35]:
# Top 5 product by gender interms of sales
# Top 5 products bought by Men

BF_Top5_sold_product = BF_sales_dataframe.groupby(['Product_ID','Gender']).size().reset_index(name ='counts')
BF_Top5_sold_product_M = BF_Top5_sold_product.loc[BF_Top5_sold_product['Gender'] == 'M'].sort_values(by = 'counts' , ascending=False)
BF_Top5_sold_product_M.head(5)

     Product_ID Gender  counts
4867  P00265242      M    1353
484   P00025442      M    1245
1927  P00110742      M    1234
1955  P00112142      M    1207
1100  P00057642      M    1174

In [36]:
# Top 5 products bought by Women

BF_Top5_sold_product = BF_sales_dataframe.groupby(['Product_ID','Gender']).size().reset_index(name ='counts')
BF_Top5_sold_product_M = BF_Top5_sold_product.loc[BF_Top5_sold_product['Gender'] == 'F'].sort_values(by = 'counts' , ascending=False)
BF_Top5_sold_product_M.head(5)

     Product_ID Gender  counts
4866  P00265242      F     505
4011  P00220442      F     427
1105  P00058042      F     378
4687  P00255842      F     366
664   P00034742      F     358

P00265242 and P00220442 was clearly a win with both and men

Let us find the  costliest product sold and how many of them?

In [43]:
BF_sales_dataframe_cost = BF_sales_dataframe.sort_values(by = 'Purchase', ascending=False)
BF_sales_dataframe_cost[['Product_ID','Purchase']].head(5)

        Product_ID  Purchase
User_ID
1001474  P00052842     23961
1002272  P00052842     23961
1003160  P00052842     23961
1005848  P00119342     23960
1005596  P00117642     23960